.navbar-nav {
  padding-top: 50px;
  background-color: transparent;
  border-color: transparent;
  float: none;
  display: flex;
  flex-direction: row;
  justify-content: center;

    li {
    float: none;
    font-size: 25px;

      a {
        color: white;
      }
  }
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: underline;
  background-color: transparent;
}

.intro-section {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/laptop.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100%;
}

.txt-bg {
  background-color: white;
  border-radius: 50%;
  padding: 50px;
}

h1 {
  font-family: "Raleway";
  font-size: 80px;
}

.card {
  background: rgba(255, 255, 255, 0.7);
  @include border-radius(10px);
  margin-top: 50px;
}

.me {
  float: left;
  padding-bottom: 20px;
  width: 150px;
  height: auto;
}

.txt-intro {
  padding-top: 50px;
}

.btn {
  clear:both;
  margin-top: 100px;
}
