.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-nav {
  float: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar-nav > li {
  float: none;
}

.intro-section {
  background-image: url('../img/apple-camera-desk-office-large.jpg');
      background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
}

.txt-bg {
  background-color: white;
  border-radius: 50%;
  padding: 50px;
}

h1 {
  font-family: "Raleway";
  font-size: 80px;
}